.large-h1 {
  font-size: 65px;
}

.large-h1-white {
  font-size: 65px;
  color: white;
  text-align: center;
}


.btn-flat-home {
  color: white;
  border-radius: 4px;
  background: #black;
  border-color: #black;
  padding: 20px;
  transition: background 0.3s ease;
}

.home-container {
    margin-top: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-container {
  width: 1000px;
  margin: 0 auto;
}

// Specific CSS for your home-page
