<div class="offset-sm-3 col-sm-6 form">
  <%= simple_form_for [@racket, @booking] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit class: "btn btn-outline-success", type: "button" %>
  <% end %>
</div>
