<div class="home-container">
    <div class="cover mb-4 d-flex align-items-center justify-content-center home-container">
        <div class="text-center text-white">
          <h1 class="large-h1">Borrow a tennis racket in London</h1>
          <%=link_to "Find a Racket", rackets_path, class: 'btn btn-primary btn-lg' %>
          <h3 class="typed-js"></h3>
        </div>
    </div>
</div>
