<div class="container">
  
  <h1 class="text-center m-5" style="color: #F8F9FA">Browse the Selection</h1>

  
  <div class="row">
    <% @rackets.each do |racket| %>
      <div class="col">
        <%= link_to racket_path(racket), class:'text-decoration-none' do %>
          <div class="card-racket">
            <% if racket.photo.attached?%>
              <%= cl_image_tag racket.photo.key, alt: racket.name, class: 'card-racket-img' %>
            <% else %>
              <img src="https://images-na.ssl-images-amazon.com/images/I/51cxohHoU%2BL._AC_SL1010_.jpg" class="card-racket-img"/>
            <% end %>
            <div class="card-racket-footer">
              <div class="links">
                <h2><%= racket.name %></h2>
                <p><i class="fas fa-map-pin"></i>  <%= racket.location %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  
</div>
