.banner {
  text-align: left;
  // background: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.4) 50%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 20px;
  padding-top: 120px;
  padding-bottom: 200px;
  margin-top: 0;
  height: 100vh;
}
.banner-container {
  padding: 0px 0px 50px 0px;
  color: white;
}
.banner-container h1 {
  margin-bottom: 0;
  font-size: 45px;
}
.banner-container p {
  margin-top: 5px;
  font-size: 30px;
}
.banner #banner-title {
  font-size: 150px;
  color: white;
}
