.bookings{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card{
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  width: 350px;
  margin: 8px;
  border-radius: 4px;
  font-family: $headers-font;
  background-color: #EDEEC9;
  text-align: left;
  .links {
    width: 100%;
    display: flex;
    align-items: flex-end !important;
    flex-direction: column;
    margin: 0;
  }
}

a{
  color: #38554F
}

.information {
  padding: 12px 12px 0px 12px;
}

.links {
  width: 100%;
  display: flex;
  align-items: flex-end !important;
  flex-direction: column;
  margin: 0;
}
