.btn-primary {
color: white !important;
font-size: 18px;
font-weight: bold;
background-color: blue;
}

.btn-primary-v-primary-af {
color: white;
font-size: 20px;
font-weight: bold;
background-color: black;
border-radius: 20px;
padding-top: 15px;
padding-right: 30px;
padding-bottom: 15px;
padding-left: 30px;
width: 100%;
}
