.carousel-caption h5 {
  font-size: 40px;
  color: #EDEEC9;
}

.carousel-caption p {
  font-size: 70px;
  color: #EDEEC9;
}

.carousel-container {
  padding-bottom: 50px;
}

.carousel-control-next-icon {
  color: #EDEEC9;
}

.carousel-control-prev-icon {
  color: #EDEEC9;
}
