.footer-home {
  align-items: center;
  text-align: center;
  padding: 60px;
  background-color: #2c2b2b;
}
.footer-home a {
  font-size: 30px;
  color: #FFE5B4;
  transition: all 0.3s ease;
}
.footer-home a:hover {
  color: #FFD586;
}
.footer-home p {
  color: #6B6C6C;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}
.list-inline li {
  display: inline;
  padding: 0px 8px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  // border-top: grayscale($color:  #38554F) solid 1px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color: grayscale($color:  #38554F);
}
.footer .fa-heart {
  color: #738812;
}

