.form {
  background-color: #EDEEC9;
  padding: 25px;
  border-radius: 20px;
  font-size: 20px;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
  margin-top: 20px;
}

.form-control {
  background-color: #EDEEC9;
  &:focus {
    background-color: #dadbbc;
  }
}