.form {
  background: white;
  padding: 25px;
  border-radius: 20px;
  font-size: 20px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  box-shadow: 2px 3px #282828;
  margin-top: 20px;
}
