.navbar-lewagon {
  justify-content: space-between;
  background-color: #EDEEC9;
  font-family: $headers-font;
  margin-bottom: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.dropdown-menu {
  border-radius: 8px;
}
